
<!DOCTYPE html>
<html>
<body>
  <h2 align="center">Update 24x7</h2>
  <br>
  <div class="container">
  <div class="row">
    <div class="col-md 2">
      <h3>About US</h3>
    </div>
    </div>
    <div class="row">
      <div class="col-md-8">
          <p>We at Update24X7 are now delivering news online.We wish this initiation from us would help everyone to access news online. News is delivered a lot faster than regular newspapers and we update the news online every single minute in real-time. <p>

      </div>

    </div>
  </div>


  <br>
  <div class="container">

    <div class="row">
      <div class="col">
        <br>
        <br>
        <h3 align="center">Our Team</h3>
        <br>

      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <table>
          <th>Angular</th>
        <tr>
          <td>Jon-kristen-tison</td>
          </tr>
          <tr>
            <td>aashritha</td>
            </tr>
        </table>
      </div>
      <div class="col-md-5">
        <table>
          <th>NodeJS</th>
        <tr>
          <td>Johan Ferreras </td>
          </tr>
          <tr>
            <td>Kevin </td>
            </tr>
        </table>
      </div>
      <div class="col-md-2">
        <table>
          <th>MongoDB</th>
        <tr>
          <td>Saad</td>
          </tr>
        </table>
      </div>

    </div>

  </div>

<br>
  <!-- Adding map -->
  <div class="container">
    <br>
<h3 align="center">Location</h3>
<br>
    <div class="row">
      <div class="col-md-4">
        </div>
        <br>

        <div class="col-md-4">

        <!-- </div> -->
      <div class="mapouter"><div class="gmap_canvas"><iframe width="338" height="310" id="gmap_canvas" src="https://maps.google.com/maps?q=Austin%2CTexas&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:310px;width:338px;}.gmap_canvas {overflow:hidden;background:none!important;height:310px;width:338px;}</style></div>

        <!-- <div class="mapouter">

          <div class="gmap_canvas">


            <iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

            </iframe>

          </div>

        <style>.mapouter{position:relative;text-align:right;height:300px;width:300px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
        </style>
      </div> -->

      </div>

    </div>

  </div>
  <br>

</body>
</html>
